#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(340px, 1fr));

}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    text-align: center;
}
h1,h4{
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 20px;
}   

header{
    background-color: antiquewhite;
}
main{
    background-color:beige;
}
footer{
    text-align: center;
}



section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #eee;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #84b7d7;
    color: #273640;
}
section > h2 {
    margin: 5px;
}
section > p {
    margin: 3px;
}

img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #333;
    margin: 10px;
}
