body {
    margin: auto;
    font-family: "Roboto", serif;
}

header {
    background-color: #008b8b;
    color: white;
    text-align: center;
    padding: 20px 20px;
}

h2 {
    text-align: center;

}

img {
    margin-bottom: 30px;
    margin-right: 30px;
    box-shadow: 10px 10px #008b8b; 
    width: 375px;
    height: 500px;
}

footer {
    max-width: 100%;
    text-align: center;
    color:white;
    border-top: 1px solid #ccc;
    background-color: #008b8b;
    padding-top: 1rem;
    padding-bottom: 1rem;
}