*{
    margin: 0;
    padding: 0;
    /*box-sizing: auto;*/
}

body {
    margin: auto;
    font-family: "Roboto", serif;
    font-weight: 400;
}

header {
    background-color: #002570;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

header img {
    margin-right: 30px;
    box-shadow: 10px 10px rgb(37, 26, 26); 
}

h1 {
    /*font-weight: 100;*/
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    margin-top: 25px;
}

header p {
    font-size: 2rem;
}

h2 {
    background-color: #002570;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;
    
}

.card {
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.card p {
    text-align: center;
}

p, ul {
    padding: 10px;
}

.block, main h1 {
    margin: 1rem 2vw;
}

nav {
	background-color: #36454f;
	margin: 0 auto;
	/*max-width: auto;*/
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration:overline;
}

.active {
	color: #fff;
    background-color: rgba(59, 6, 9, 0.363);
}

footer {
    max-width: 100%;
    text-align: center;
    color:white;
    border-top: 1px solid #ccc;
    background-color: #002570;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mod a {
    margin-left: 10px;
}

/*---------------------------*/
/*nav {
max-width: 700px;
margin: 1rem auto;
}*/

/* small view navigation */
#menu {
font-size: 1.5rem;
border: 0;
background: none;
color: #000;
 position: absolute;
top: 1rem;
right: 1rem;
}

#menu::before {
content: "☰";
}

#menu.open::before {
content: "X";
}

.navigation {
display: flex;
flex-direction: column;
justify-content: space-evenly;
list-style: none;
background-color: #333;
color: #fff;
}

.navigation a {
display: none;
padding: 1rem;
text-align: center;
text-decoration: none;
color: #fff;
}
.navigation a:hover {
background-color: #bbb;
color: #333;
font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
display: block;
}

.active::before {
content: "📍";  /* just a wayfinding symbol for the user */
}

/*--Dark mode--*/
#mode {
	position: absolute;
	top: 1rem;
	left: .2rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}